:root{
    --primarycolor: rgb(20, 20, 20);
    --secondarycolor: rgb(202, 198, 198);
}
.cs-header{
    height: 60px;
    background-color: var(--primarycolor);
    display: flex;
}
.cs-title{
    display: flex;
    width: 50%;
    align-items: center;
    color: var(--secondarycolor);
}
.cs-title a{
    color: var(--secondarycolor);
    text-decoration: none;
}
.cs-nav{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}
.cs-nav a{
    color: var(--secondarycolor);
    text-decoration: none;
    margin: 1em;
}
.cs-container{
    height: 820px;
}
.cs-box-img{
    height: 820px;
    position: relative;
}
.cs-img{height: 100%; width: 100%; position: relative;}
.cs-box-text{
    position: absolute;
    
}
.cs-border{
    border: 1px solid red;
}