:root{
    --primarycolor: rgb(26, 26, 26);
    --primarycolor1:rgb(40, 40, 40);
    --secondarycolor: rgb(230, 230, 230);
    --textcolor: teal ;
}
.cs-bg-primary{
    background-color: var(--primarycolor);
}
.cs-bg-primary1{
    background-color: var(--primarycolor1);
}
.cs-bg-secondary{
    background-color: var(--secondarycolor);
}
.cs-font-primary{
    color: var(--primarycolor);
}
.cs-font-secondary{
    color: var(--secondarycolor);
}
.cs-textcolor{
    color: var(--textcolor);
}
.cs-intro{
    height: 975px;
    position: relative;
    background-image: url(imagies/background1.jpg);
    background-size: 100% 100%;
}
.cs-header{
    display: flex;
    height: 60px;
    width: 100%;
    position: absolute;
}
.cs-title{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    color: var(--textcolor);
}
.cs-nav{
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: end;
}
.cs-link{
    color: var(--secondarycolor);
    margin: 1em;
}
.cs-button{
    font-size: 23px;
    color: var(--secondarycolor);
}
.cs-link :hover{
   color: var(--textcolor);
}
.cs-introcard{
    position: absolute;
    width: auto;
    height: 125px;
    top: 20%;
    left: 10%;
}
.cs-carousel1{
    width: 25%;
}
.cs-carousel2{
    width: 75;
}
.cs-aboutbox{
    width: 80%;
    height: auto;
}
.cs-aboutimg{
    width: 25%;
    height: 275px;
}
.cs-aboutimg img{
    width: 100%;
    height: 100%;
}
.cs-font{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.cs-about, .cs-experience1{
    font-size: 20px;
}
.cs-about{
    width: 75%;
    height: 275px;
}
.cs-experience1{
    width: 50%;
}
.cs-experience2{
    width: 50%;
}

.cs-worklist{
    list-style: none;
}
.cs-bar1, .cs-bar2, .cs-bar3{
    height: 25px;
    border-radius: 10px;
    text-align: end;
}
.cs-bar1, .cs-bar2, .cs-bar3{background-color: var(--textcolor);}
.cs-bar1{
    width: 74.6%;
}
.cs-bar2{
    width: 53.4%;
}
.cs-bar3{
    width: 47.6%;
}
.cs-create-title p{
    margin-top: -.75em;
}
.cs-create-box{
    height: auto;
    display: flex;
    justify-content: center;
}
.card-img{
    height: 200px;
    width: 200px;
}
.cs-cardbutton{
    font-size: 25px;
    color: var(--textcolor);
}
.cs-cardlink{
    margin: 1em;
    color: var(--secondarycolor);
}











.cs-border{
    border: 1px solid red;
}